  <header class="main-header">
        <% if current_user %>
          <% image = current_user.image.nil? ? "/backend/dist/img/avatar04.png": current_user.image  %>
        <% end %>
        <!-- Logo -->
        <%= link_to raw('<b>The More You Be</b>'), {controller: 'courses', action: 'in_progress'}, class: 'logo' %>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu">
                <% if current_user %>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="<%= image %>" class="user-image" alt="User Image" />
                  <span class="hidden-xs"><%= current_user.name %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="<%= image %>" class="img-circle" alt="User Image" />
                    <p>
                      <%= current_user.name %>
                      <small>Member since <%= time_ago_in_words(current_user.created_at) %> ago</small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <%= link_to 'Sign out', destroy_user_session_path, :method => :delete, class: "btn btn-default btn-flat" %>
                    </div>
                  </li>
                </ul>
                <% else %>
                  <a href="http://localhost:3000/#login" class="dropdown-toggle">
                    <span class="hidden-xs">Login</span>
                  </a>
                <% end %>
              </li>
            </ul>
          </div>
        </nav>
      </header>
