<p id="notice"><%= notice %></p>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <!--
  <section class="content-header">
    <h1>
      Courses
    </h1>
  </section>
  -->
  
   <!-- Main content -->
  <section class="content">  
     <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Courses in Progress</h3>
            <div class="box-tools pull-right">
               <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
               <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
         </div><!-- /.box-header -->     
     <div class="box-body">
       <div class="table-responsive">
       <table class="table no-margin">
        <thead>
          <tr>
            <th>Course</th>
            <th>Progress</th>
            <th>%</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @enrollments.each do |enrollment| %>          
          <tr>
            <td><%= enrollment.course.name %></td>
            <td>
              <div class="progress progress progress-striped active">
                 <div class="progress-bar progress-bar-primary" style="width: <%= enrollment.progress %>%"></div>
              </div>
            </td>
            <td>
              <%= enrollment.progress %>
            </td>
            <td>
              <%= link_to "Continue", action: "show", id: enrollment.course %> |
              <%= link_to 'Leave', enrollment, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
          <% end %>
        </tbody>
       </table>
     </div><!-- /.box-body -->
     <div class="box-footer clearfix">
         <!--<a href="javascript::;" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>-->
         <%= link_to 'View All Courses', courses_url, class: "btn btn-sm btn-info btn-flat pull-right" %>
     </div><!-- /.box-footer -->
     </div><!-- /.box -->
    </div><!-- /.col -->
  </section> <!-- /.content -->
</div>