<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= course.category %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <section id="portfolio">
         
            <div class="section-title text-center wow fadeInDown">
                <h2>Courses</h2>    
                <!--<p>Aprienda de una forma diferente!</p-->
            </div>
            
            <nav class="project-filter clearfix text-center wow fadeInLeft"  data-wow-delay="0.5s">
                <ul class="list-inline">
                    <li><a href="javascript:;" class="filter" data-filter="all">All</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".app">App</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".photography">Photography</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".web">Web</a></li>
                    <li><a href="javascript:;" class="filter" data-filter=".print">Print</a></li>
                </ul>
            </nav>

            <div id="projects" class="clearfix">

                <figure class="mix portfolio-item app">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-1.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-1.jpg" title="Title One" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Flat Design</h3>
                        <span>Design</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item photography">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-2.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-2.jpg" title="Title Two" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item web">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg" title="Title Three" rel="portfolio"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Develop Games in Unity</h3>
                        <span>Programming</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item print">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-4.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-4.jpg"  title="Title Four" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item app">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-4.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-4.jpg" title="Title Five" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item photography">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-1.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-1.jpg" title="Title Six" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item web app">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-2.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-2.jpg" title="Title Seven" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

                <figure class="mix portfolio-item print web">
                    <img class="img-responsive" src="/frontend/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
                    <a href="/frontend/img/portfolio/portfolio-3.jpg" title="Title Eight" rel="portfolio" class="fancybox"><span class="plus"></span></a>
                    <figcaption class="mask">
                        <h3>Awesome Image</h3>
                        <span>Photography</span>
                    </figcaption>
                </figure>

            </div> <!-- end #projects -->

        </section>
     
