 <section id="portfolio">
         
            <div class="section-title text-center wow fadeInDown">
                <h2>Courses</h2>    
                <!--<p>Aprienda de una forma diferente!</p-->
            </div>
            
            <nav class="project-filter clearfix text-center wow fadeInLeft"  data-wow-delay="0.5s">
                <ul class="list-inline">
                  <% @categories.each do |category| %>
                    <li>
                      <% if category.name == 'All' %>
                        <a href="javascript:;" class="filter" data-filter="<%= category.name.downcase %>"><%= category.name %></a>                         <% else %>
                         <a href="javascript:;" class="filter" data-filter=".<%= category.name.downcase %>"><%= category.name %></a>                        <% end %>
                    </li>
                  <% end %>
                </ul>
            </nav>

            <div id="projects" class="clearfix">
              <% count = 1 %>
              <% @courses.each do |course| %>
                <% image = "/frontend/img/portfolio/portfolio-1.jpg" %>
                <% category_name = course.category.name unless course.category.nil? %>
                <figure class="mix portfolio-item <%= category_name.downcase unless category_name.nil? %>">
                   <img class="img-responsive" src="<%= course.image.nil? == true ? image : course.image.thumb('372x290#').url %>" alt="Portfolio Item">
                   <a href="#" data-toggle="modal" data-target=".bs-modal-<%= count %>" title="Title Three" rel="portfolio"><span class="plus"></span></a>
                    <figcaption class="mask">
                      <h3><%= course.name %></h3>
                      <span><%= category_name unless category_name.nil? %></span>
                    </figcaption>
                </figure>
                <% count += 1 %>
              <% end %>
            </div> <!-- end #projects -->
        </section>
    
<% count = 1 %>
<% @courses.each do |course| %>
		<div class="modal fade bs-modal-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<section id="services">
					<div class="container">	
						<div class="row">					
							<div class="col-md-9 col-sm-12">
								<div class="clearfix">	
                  <p>Created At: <%= course.created_at.strftime('%Y/%m/%d') %></p>
								</div>
							</div>
						</div>					
						<div class="row">					
							<div class="col-md-9 col-sm-12">
								<div class="subtitle text-center">	
                  <h3><%= course.name %></h3>								
								</div>
							</div>
						</div>							
						<div class="row">							
							<div class="col-md-4 col-sm-8">
								<div class="section-title text-left fadeInDown">
									<div class="media">
										<img class="img-responsive" src="/frontend/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-8">
								<div class="subtitle" class="fadeInDown">
											<div class="text-left">
                        <p><%= course.description %></p>
											</div>										
											<div class="text-center">                   
												<a href="/home/show" class="btn btn-blue">Enrollment</a>                      
                        									</div>
								</div>
							</div>
						</div>																			
					</div> <!-- end .container -->
				</section>
			</div>
		  </div>
		</div>
  <% count += 1 %>
<% end %>


   
<div class="content-wrapper">
  <section id="login">
    <div class="section-title text-center wow fadeInDown">
      <h2>Login</h2>    
    </div>
    <section class="content">
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
            <div class="form-group">
              <label>Email</label>
              <input name="user[email]" type="text" class="form-control" placeholder="Enter ..."/>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input name="user[password]" type="password" class="form-control" placeholder="Enter ..."/>
            </div>

            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%= link_to "Forgot your password?", new_password_path(:user) %>

            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          <% end %>
        </div>
      </div>
    </section>
  </section>
</div>
