 <section id="portfolio">
         
            <div class="section-title text-center wow fadeInDown">
                <h2>Courses</h2>    
                <!--<p>Aprienda de una forma diferente!</p-->
            </div>
            
            <nav class="project-filter clearfix text-center wow fadeInLeft"  data-wow-delay="0.5s">
                <ul class="list-inline">
                  <% @categories.each do |category| %>
                    <li>
                      <% if category.name == 'All' %>
                        <a href="javascript:;" class="filter" data-filter="<%= category.name.downcase %>"><%= category.name %></a>                         <% else %>
                         <a href="javascript:;" class="filter" data-filter=".<%= category.name.downcase %>"><%= category.name %></a>                        <% end %>
                    </li>
                  <% end %>
                </ul>
            </nav>

            <div id="projects" class="clearfix">
              <% count = 1 %>
              <% @courses.each do |course| %>
                <% image = "/frontend/img/portfolio/portfolio-1.jpg" %>
                <% category_name = course.category.name unless course.category.nil? %>
                <figure class="mix portfolio-item <%= category_name.downcase unless category_name.nil? %>">
                   <img class="img-responsive" src="<%= course.image.nil? == true ? image : course.image.thumb('372x290#').url %>" alt="Portfolio Item">
                   <a href="#" data-toggle="modal" data-target=".bs-modal-<%= count %>" title="Title Three" rel="portfolio"><span class="plus"></span></a>
                    <figcaption class="mask">
                      <h3><%= course.name %></h3>
                      <span><%= category_name unless category_name.nil? %></span>
                    </figcaption>
                </figure>
                <% count += 1 %>
              <% end %>
            </div> <!-- end #projects -->
        </section>
    
<% count = 1 %>
<% @courses.each do |course| %>

		<div id="modal-<%= count %>" class="modal fade bs-modal-<%= count %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg">
			<div class="modal-content">
				<section id="services">
					<div class="container">	
						<div class="row">					
							<div class="col-md-9 col-sm-12">
								<div class="clearfix">	
                  <p>Created At: <%= course.created_at.strftime('%Y/%m/%d') %></p>
								</div>
							</div>
						</div>					
						<div class="row">					
							<div class="col-md-9 col-sm-12">
								<div class="subtitle text-center">	
                  <h3><%= course.name %></h3>								
								</div>
							</div>
						</div>							
						<div class="row">							
							<div class="col-md-4 col-sm-8">
								<div class="section-title text-left fadeInDown">
									<div class="media">
										<img class="img-responsive" src="/frontend/img/portfolio/portfolio-3.jpg" alt="Portfolio Item">
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-8">
								<div class="subtitle" class="fadeInDown">
											<div class="text-left">
                        <p><%= course.description %></p>
											</div>										
											<div class="text-center">  
                        <% if current_user.nil? %>
                          <%= link_to "Enrollment", "/#login", class: "btn btn-blue",  
                                      onClick:"$('#modal-#{count}').hide();" %>  
                        <% else %>
                        <%= link_to "Enrollment", { controller: 'enrollment', action: 'new', id: course }, 
                                    class: "btn btn-blue" %> 
                        
                        <% end %>
                      </div>
								</div>
							</div>
						</div>																			
					</div> <!-- end .container -->
				</section>
			</div>
		  </div>
		</div>
  <% count += 1 %>
<% end %>

 <!--
  #about
  ========================== -->
  <section id="about">
    <div class="container">
         <div class="row">
              <div class="section-title text-center wow fadeInUp">
                  <h2>About Us</h2>    
                  <p>Rosalila Studio.</p>
               </div>                 
               <div class="about-us text-center wow fadeInDown">
                   <img src="/frontend/img/about.png" alt="About Us" class="img-responsive">
                </div>
           </div>
    </div>
  </section>
 <!--
 End #about
 ========================== -->


 <!--
  #login
  ========================== -->
  <!-- Login Form -->
 <section id="login">
  <div class="row">
     <div class="col-xs-6 col-md-4"></div>
     <div class="col-xs-6 col-md-4">
       <div id="loginbox">
        <div class="section-title text-center wow fadeInDown">
          <h2>Login</h2>    
        </div>
          <%= form_for(:user, :url => session_path(:user)) do |f| %>
              <div class="form-group">
                <label>Email</label>
                <input name="user[email]" type="text" class="form-control" placeholder="Enter ..."/>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input name="user[password]" type="password" class="form-control" placeholder="Enter ..."/>
              </div>
             <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
              <%= link_to "Forgot your password?", new_password_path(:user) %>
             </div>
             <div class="form-group">
                <div class="box-footer">
                   <button type="submit" class="btn btn-success">Login</button>
                   <a id="btn-fblogin" href="#" class="btn btn-primary">Login with Facebook</a>
                </div>
             </div>
             <div class="form-group">
                 <div class="control">
                      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                           Don't have an account! 
                           <a href="#login" onClick="$('#loginbox').hide(); $('#signupbox').show()">
                           Sign Up Here </a>
                       </div>
                 </div>
             </div>  
          <% end %>
      </div>
       <div id="signupbox" style="display:none;">
          <div class="section-title text-center wow fadeInDown">
             <h2>Sign up</h2>    
          </div>
           <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

             <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
             </div>

            <div class="form-group">
              <%= f.label :password %>
              <% if @validatable %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>

           <div class="form-group">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            </div>

           <div class="form-group">
             <%= f.submit "Sign up", class: "btn btn-info" %>
             <span style="margin-left:8px;margin-right:8px">or</span>  
             <%= f.submit "Sign Up with Facebook", class: "btn btn-primary" %>
           </div>
         
           <div class="form-group">
                 <div class="control">
                      <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                           Already have an account! 
                           <a href="#login" onClick="$('#signupbox').hide(); $('#loginbox').show()">
                           Login Here </a>
                       </div>
                 </div>
           </div>   
        <% end %>
       </div>
    </div>
     <div class="col-xs-6 col-md-4"></div>  
  </div>
</section>

 <!--
 End #login
 ========================== -->